* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: blanchedalmond;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    padding: 5px;
    margin: 1.5rem 0;
    color: #c12b72;
}

.container_left {
    margin: 0 auto;
    width: 85%;
    height: 95vh;
    display: flex;
    flex-basis: 50%;
    background-color: #b8a9c9;
    color: white;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.form {
    padding: 2rem;
    width: 50%;
    height: 100%;
    background-color: #D07CA4;
    overflow-y: auto;
    border-radius: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="url"] {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
}

.form button {
    width: 25%;
    font-size: 19px;
    font-weight: 500;
    font-style: italic;
    padding: 0.5rem 0;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    margin-top: 1rem;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    color: white;
    background: rgba(12, 63, 86, 0.44);
}

.form input {
    margin: 0.7rem;
}

.container_right {
    width: 50%;
    border-radius: 1rem;
    padding: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-style: italic;
}

.container_right .cardContainer {
    height: 90%;
    overflow-y: auto;
}

.container_right .card {
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgba(12, 63, 86, 0.44);
    padding: 1rem;
    border-radius: 0rem;
    margin: 0.3rem 0;
    word-wrap: break-word;
    line-break: strict;
}

.card img {
    margin-right: 1rem;
    border-radius: 0rem;
    width: 110px;
    height: 120px;
}

.card .info {
    text-align: left;
    color: whitesmoke;
}

.card .info a {
    color: rgb(240, 124, 85);
}

.card .info button {
    padding: 2px 10px;
    margin: 5px 0;
    border-radius: 5px;
    bottom: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
}

@media (max-width:1200px) {

    .container_left {
        height: 90vh;
        margin-bottom: 5rem;
    }

    .cardContainer {
        height: 70%;
        overflow-y: auto;
    }

    .container_right .card {
        display: block;
        text-align: center;
    }
}

@media (max-width:900px) {
    .container_left {
        flex-basis: auto;
        display: block;
        width: 90%;
        height: auto;
    }

    .form {
        width: 100%;
        height: auto;
    }

    .container_right {
        width: 100%;
        margin: 5rem auto;
    }

    .container_right .cardContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 241px));
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}